<!--launch file-->
<launch>
    <node  launch-prefix="" name="msf_pose_velocity_altitude_sensor" pkg="msf_updates" type="pose_velocity_altitude_sensor" clear_params="true" output="screen">
            			<remap from="msf_updates/pose_input" to="/vo/tf" />
					 	<remap from="msf_updates/velocity" to="/velocity_controller/odom/tf" />
					 	<!--<remap from="msf_updates/altitude_above_takeoff" to="/drone6/altitude_above_takeoff" />	   --> 		    	
						<remap from="msf_core/imu_state_input" to="/imu/data/tf" />   	
						
            <rosparam file="$(find msf_updates)/pose_position_velocity_sensor.yaml"/>
    </node>

</launch>
